.my-form{
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    
  }
  
  .full-width {
    width: 100%;
  }

  table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }

  mat-grid-tile {
    background: lightblue;
  }