
      #login {
        width: 100%;
        background: url('/assets/images/backgrounds/fondo_container.jpg') no-repeat;
        background-size: cover;
      }
  
  .mat-form-field {
    width: 100%;
  }

  .my-card {
    margin: auto;
    width: 20%;
    padding: 50px;
    margin-top: 100px;
  
  }
  .title{
    
    display: block;
    text-align: center;
    font-size: 150%;
    font-weight: bold;
    font-size: 20px;
    margin: 16px 0 32px 0;
  }

  
  .logo {
    width: 128px;
    margin: 32px auto;
}

  .boton{
    color: white;
    font-size: 100%;
    font-weight: bold;
    background: #388e3d;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-top: 2%;
    padding-right: 2%;
    width: 50%;
    transform: translateX(50%) translateY(0%);
  }

  .titulo-login{
    
    display: block;
    text-align: center;
    color: white;
    font-size: 150%;
    font-weight: bold;
  }
  
     
